<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.gjj.androidstudydemo">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/logo"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".activity.MainActivity"></activity>
        <activity android:name=".activity.CustomViewActivity" />
        <activity android:name=".activity.CustomViewDetailActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".activity.AnimationActivity" />
        <activity android:name=".activity.TweenActivity" />
        <activity android:name=".activity.FrameAnimActivity" />
        <activity android:name=".activity.PropertyAnimActivity" />
        <activity android:name=".activity.PathAnimActivity" />
        <activity android:name=".activity.CircularRevealActivity" />
        <activity android:name=".activity.TransitionsActivity" />
        <activity android:name=".activity.TraditionalActivity" />
        <activity android:name=".activity.Android5Activity" />
        <activity android:name=".activity.TypicalActivity" />
        <activity android:name=".activity.Android5DetailActivity" />
        <activity android:name=".activity.TypicalDetailActivity" />
        <activity android:name=".activity.VectorAnimationActivity" />
        <activity android:name=".activity.DrawPathActivity" />
        <activity android:name=".activity.CustomSVG1Activity" />
        <activity android:name=".activity.CustomSVG2Activity" />
        <activity android:name=".activity.SquareActivity" />
        <activity android:name=".activity.GlideActivity"></activity>
    </application>

</manifest>